# A fast, small, safe, gradually typed embeddable scripting language derived from Lua
#
# https://github.com/luau-lang/luau
# https://luau.org/

# Code coverage
coverage.out

# Profiling
profile.out
profile.svg

# Time trace
trace.json

# Wally packages
Packages/

# Roblox place files
*.rbxl
*.rbxlx

# Rojo build output
*.rbxm
*.rbxmx
!src/ReplicatedStorage/MrDialogue/Assets/DialogueGui.rbxm

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs/temp
*.log
tmp/
temp/

sourcemap.json

docs/
.agents/
